body,
html,
#root {
  height: 100%;
}

body {
  background-image: url("assets/berlinTower.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Trebuchet MS', sans-serif;
}


.todo {
  margin: 0px 0px 20px 10px;
  padding-top: 10px;
}

.radioclass {
  margin: 12px 5px 20px 15px;
  
}


.tasks {
  background-color: #333333;
  width: 300px;
  height: 50px;
  padding: 6px;
  box-sizing: border-box;
  border-radius: 10px;
  color: white;
  margin: 2px 0px 2px 15px;

}



.addtask {
  position: sticky;
  bottom: 0;
  background-color: #333333;
  color: white;
  width: 300px;
  height: 50px;
  padding: 6px;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 370px 0px 0px 15px;  

}



.addtaskelements {
  vertical-align: middle;
}

.inputbar {
  margin: 0px 0px 0px 15px ;
  border: none;
  background-color: transparent;
  color: white;
  outline: none;
  font-size: 14pt;
  padding: 0;


}

.inputbar::placeholder {
  color: white; /* Change the color to your desired one */
}


.submitbutton {
  position: relative;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 15px;
  font-size: 18pt;
  padding-top: 5px;
 
}


